# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Pycharm project files
.idea/

# Environment variables
.env.local

# OS files
.DS_Store
Thumbs.db
